<footer class="light-bg">
  <nav>
    <ul class="footer-container">
      <li class="nav-col u-gap-md">
        <div>
          email:
          <a class="nav-link" href="mailto:hello@stillwaiting.site">hello&#64;stillwaiting.site</a>
        </div>
        <div>
          <i class="fa-brands fa-github"></i>:
          <a
            class="nav-link"
            href="https://github.com/eslutz/Still-Waiting"
            target="_blank"
            >github.com/Still-Waiting
          </a>
        </div>
      </li>
      <li class="nav-col u-gap-sm">
        <p>Support this site and help keep<br />it going by donating:</p>
        <a class="nav-link" href="https://coindrop.to/ericslutz_dev" target="_blank">
          <img src="https://coindrop.to/embed-button.png" style="border-radius: 10px; height: 57px !important;width: 229px !important;" alt="Coindrop.to me">
        </a>
      </li>
    </ul>
  </nav>
</footer>
