/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'Mona Sans';
  src:
    url('assets/fonts/Mona-Sans.woff2') format('woff2 supports variations'),
    url('assets/fonts/Mona-Sans.woff2') format('woff2-variations');
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

html {
  font-family: 'Mona Sans';
  font-size: 62.5%;
  scroll-padding-top: 70px;
}

body {
  color: #555;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1;
}

p {
  letter-spacing: 0.1rem;
  line-height: 1.5;
}

/**********************/
/* GENERAL COMPONENTS */
/**********************/

/* CONTAINER */
.container {
  margin: 0 auto;
  max-width: 120rem;
  padding: 3.2rem;
}

.half-width {
  margin: 0 auto;
  width: 50%;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5px;
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}

/* HEADING */
.header {
  margin: 0 auto;
  max-width: 120rem;
  padding: 2rem 3.2rem 0 3.2rem;
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
  color: #767676;
  letter-spacing: -1px;
  padding: 0 0 2rem 0;
}

.heading-primary {
  font-size: 5.2rem;
  font-weight: 150;
  line-height: 1.05;
  max-width: 230rem;
}

.heading-secondary {
  font-size: 3.8rem;
  font-weight: 200;
  line-height: 1.2;
  padding: 0 0 0.4rem 0;
  margin: 0 0 1.2rem 0;
  border-bottom: 0.25rem solid;
}

.heading-tertiary {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0px;
}

/* LINK */
.link {
  display: inline-block;
  font-weight: 400;
  padding-bottom: 0.4px;
  text-decoration: none;
}

.link:link,
.link:visited {
  color: #603aa1;
  border-bottom: 0.125rem solid transparent;
  transition: all 0.3s;
}

.link:hover,
.link:active {
  color: #c8102e;
  border-bottom: 0.125rem solid #c8102e;
}

/**************/
/* NAVIGATION */
/**************/

.main-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3.2rem;
  list-style: none;
  margin: 3.2rem 0;
}

.nav-link {
  color: #767676;
  font-weight: 400;
  text-decoration: none;
  border-bottom: 0.125rem solid transparent;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.nav-link:hover,
.nav-link:active,
.active-link {
  color: #c8102e;
  border-bottom: 0.125rem solid #c8102e;
}

.nav-col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

/**********/
/* FOOTER */
/**********/
.footer-container {
  align-items: start;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  width: 100%;
  margin: 0 auto;
  max-width: 120rem;
  padding: 2rem 3.2rem;
  line-height: 1.5;
}

/* SECTION BACKGROUND COLOR */
.light-bg {
  background-color: #ebebeb;
  box-shadow: 0 5px 5px #ebebeb, 0 -5px 5px #ebebeb;
}

/* UTILITIES */
.u-text-center {
  text-align: center;
}

.u-text-xl {
  font-size: 300%;
}

.u-text-lg {
  font-size: 200%;
}
.u-text-md {
  font-size: 150%;
}

.u-margin-top-lg {
  margin-top: 6rem;
}

.u-margin-top-md {
  margin-top: 4rem;
}

.u-gap-sm {
  gap: 1rem;
}

.u-gap-md {
  gap: 2rem;
}
